<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FyhNewProj.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C2632B73FE30A1474494015F869F31CFAC0F28FF</string>
				<key>dateExpires</key>
				<string>2018/8/14</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VKV9LL3GL2.com.fyh88.fyhapp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VKV9LL3GL2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>FyhNewProj.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ea51b606-82a4-4519-9412-1c60451c0913</string>
				<key>name</key>
				<string>XC iOS Ad Hoc: com.fyh88.fyhapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VKV9LL3GL2</string>
				<key>name</key>
				<string>FENG YUN HUI CO.,LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
